
<div class="container">
  <body>
    <h2>Forgot your password?</h2>
    <p>We will send you an email with instructions on how to reset your password.</p>
    <form [formGroup]="resetRequestForm" (ngSubmit)="requestReset()">
      <div *ngIf="successMessage" class="success-message">
        {{ successMessage }}
      </div>
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      <div class="form-group" [ngClass]="{'has-error': email!.invalid && (email!.dirty || email!.touched)}">
        <input type="email" id="email" formControlName="email" class="form-control" placeholder="Email@example.com">
        <div *ngIf="email!.invalid && (email!.dirty || email!.touched)" class="error-message">
          <span class="error-icon">❌</span>
          <div *ngIf="email!.errors?.['required']">Please enter your email.</div>
          <div *ngIf="email!.errors?.['email']">Please enter a valid email.</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="resetRequestForm.invalid">Email me</button>
    </form>
  </body>
</div>
