<div class="imprint">
  <h1>Impressum</h1>

  <h2>Daten gemäß Abschnitt 5 TMG</h2>
  <p><strong>David Velickovic</strong></p>
  <p>Dinghoferstraße 61<br />4020</p>

  <h2>Repräsentiert von:</h2>
  <p>David Velickovic</p>

  <h2>Kontaktdaten</h2>
  <p>
    Telefon: 06606619150<br />
    E-Mail:
    <a href="mailto:videoflix@david-velickovic.at"
      >videoflix(at)david-velickovic.at</a
    ><br />
    Webseite:
    <a href="https://david-velickovic.at" target="_blank"
      >david-velickovic.at</a
    >
  </p>

  <h2>Haftungsausschluss</h2>

  <h3>Verantwortlichkeit für Inhalte</h3>
  <p>
    Die Inhalte unserer Webseiten wurden unter größter Sorgfalt erstellt.
    Trotzdem können wir nicht garantieren, dass der Inhalt aktuell, zuverlässig
    oder komplett ist. Gemäß den gesetzlichen Vorschriften sind wir für die
    selbst erstellten Inhalte verantwortlich. In diesem Zusammenhang möchten wir
    klarstellen, dass wir nicht verantwortlich sind für Informationen, die von
    dritten Parteien zur Verfügung gestellt oder von diesen gesammelt werden.
    Wir kontrollieren weder die Informationen, die versandt werden, noch
    verfolgen wir mögliche illegale Aktivitäten. Werden illegale Aktivitäten
    festgestellt, folgen wir unserer Verpflichtung, die entsprechenden Inhalte
    zu blockieren oder zu löschen, entsprechend den Paragraphen 8 bis 10 des
    Telemedia Acts (TMG).
  </p>

  <h3>Verantwortlichkeit für Links</h3>
  <p>
    Die Verantwortung für Inhalte von Links Dritter (externe Inhalte) liegt in
    der Verantwortung der jeweiligen Webseitenbetreiber. Zum Zeitpunkt der
    Einfügung der verwendeten Links auf unseren Seiten wurden keine illegalen
    Aktivitäten in diesen festgestellt. Sobald uns illegale Aktivitäten oder
    Verstöße bekannt werden, werden wir den entsprechenden Link entfernen.
  </p>

  <h3>Copyright</h3>
  <p>
    Unsere Webseiten und deren Inhalt (Texte, Fotos, Grafiken, Design)
    unterliegen dem deutschen Urheberrecht. Soweit nicht anderweitig gesetzlich
    vereinbart, unterliegt der Nutzen, die Wiedergabe, Kopie oder die
    Veränderung der Inhalte dem Urheberrecht. Ausnahmen müssen schriftlich von
    den Webseitenbetreibern oder Rechteinhabern genehmigt werden. Individuelle
    Kopien sind nur für den privaten Gebrauch gestattet, sie dürfen weder direkt
    noch indirekt für wirtschaftliche Zwecke genutzt werden. Der nicht
    genehmigte Nutzen von unter Urheberrecht geschütztem Material ist nach
    Paragraph 106 strafbar.
  </p>

  <p>
    Diese Impressum wurde erstellt am
    <a href="https://impressumgeneratorenglisch.de" target="_blank"
      >impressumgeneratorenglisch.de</a
    >.
  </p>
</div>
