@import "../../../styles.scss";

.background {
  background: url("../../../assets/img/background.png") no-repeat center center fixed;
  background-size: cover;
  position: absolute;
  height: 90vh;
  width: 100vw;
  filter: brightness(40%);
  z-index: -1;
}

.container {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

  body {
    display: flex;
    align-items: center;
    justify-content: start;
    color: white;
    flex-direction: column;
    font-family: "DM-regular";
    width: 450px;
    height: 650px;
    background-color: rgba(4, 4, 4, 0.7);
  }
}

h2 {
  font-family: "DM-bold";
  font-size: 2rem;
  margin: 28px 0 28px 0;
}

.form-group {
  width: 100%;
  margin-bottom: 15px;
  color: white;
}

.form-group.has-error input {
  border: 1px solid #e87c03;
}

.form-control {
  font-family: "DM-italic";
  font-size: $fnt-size-XS;
  background-color: rgba(49, 49, 49, 0.4);
  border: solid 1px rgba(170, 169, 169, 0.6);
  width: 300px;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  color: white;
}

.form-control::placeholder {
  color: rgb(185, 184, 184);
}

.btn-primary {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #e50914;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #f6121d;
}

#forgot-password {
  margin-top: 10px;
  color: white;
  text-decoration: none;
}

#forgot-password:hover {
  text-decoration: underline;
}

#new-to-netflix {
  margin-top: 20px;
  color: white;
}

#sign-up {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#sign-up:hover {
  text-decoration: underline;
}

.error-message {
  color: #e87c03;
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-bottom: 10px;
  width: 250px;
}

.success-message {
  color: #28a745;
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-bottom: 10px;
}

.error-icon {
  margin-right: 5px;
}
