<div class="background"></div>

<div class="container">
  <body>
    <h2>Set New Password</h2>
    <form [formGroup]="resetConfirmForm" (ngSubmit)="resetPassword()">
      <div *ngIf="successMessage" class="success-message">
        {{ successMessage }}
      </div>
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      <div class="form-group" [ngClass]="{'has-error': newPassword!.invalid && (newPassword!.dirty || newPassword!.touched)}">
        <input type="password" id="newPassword" formControlName="newPassword" class="form-control" placeholder="New Password">
        <div *ngIf="newPassword!.invalid && (newPassword!.dirty || newPassword!.touched)" class="error-message">
          <span class="error-icon">❌</span>
          <div *ngIf="newPassword!.errors?.['required']">Please enter a new password.</div>
          <div *ngIf="newPassword!.errors?.['minlength']">Your password must contain at least 4 characters.</div>
          <div *ngIf="newPassword!.errors?.['maxlength']">Your password must contain no more than 60 characters.</div>
        </div>
      </div>
      <div class="form-group" [ngClass]="{'has-error': confirmPassword!.invalid && (confirmPassword!.dirty || confirmPassword!.touched)}">
        <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" placeholder="Confirm Password">
        <div *ngIf="confirmPassword!.invalid && (confirmPassword!.dirty || confirmPassword!.touched)" class="error-message">
          <span class="error-icon">❌</span>
          <div *ngIf="confirmPassword!.errors?.['required']">Please confirm your password.</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="resetConfirmForm.invalid">Set Password</button>
    </form>
  </body>
</div>
