@import "../../../../styles.scss";

.footer {
  background-color: #141414;
  color: white;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  position: fixed;
  bottom: 0;

  .footer-content {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  a {
    color: $primary-red;
    text-decoration: none;
    font-family: "DM-regular";

    &:hover {
      text-decoration: underline;
    }
  }
}
